* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: myriadpro;
    src: url(../fonts/myriadpro/MYRIADPRO-REGULAR.OTF);
}


/* --------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    background: #161616;
}

.header {
    border-bottom: 1px solid rgba(245,245,245,.38);
    display: flex;
    position: relative;
    width: 100%;
    height: 123px;
}

.header_logo {
    cursor: pointer;
    margin-left: 215px;
    margin-top: 22px;
}

.nav {
    margin-top: 55px;
    margin-left: 15%;
}

.nav a {
    padding: 57px 24px 40px 24px;
    text-align: center;
}

.nav a:hover {
    border-bottom: 6px solid #11749e;
}

.topnav {
    font-family: 'myriadpro', sans-serif;
    font-size: 20px;
    color: #fff;
}

.topnav a {
    color: #fff;
}

.topnav .icon {
    display: none;
}

.backgrounder {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-clip: padding-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


.main_welcome {
    padding: 275px 0 110px 0;
    text-align: center;
}

.main_welcome h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 152px;
    letter-spacing: -4px;
}

.blue {
    color: #11749e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 12px;
    margin-top: 1px;
}

.scroll {
    color: #fff;
    font-size: 13px;
    margin-top: 119px;
    margin-bottom: 20px;
}

.main_welcome img {
    transition: all 0.3s;
}


.main_welcome img:hover {
    background: rgba(245,245,245,.4);
    border-radius: 50%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.main_features {
    background: #11749e;
    text-align: center;
    padding-bottom: 130px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
}

.main_features .caption {
    margin-top: -177px;
    color: #fff;
}

.letter {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 247px;
}

.main_features .letter {
    padding-top: 60px;
    color: #5993b2;
}


.feature_cards {
    text-align: center;
    display: grid;
    grid-template-areas: "auto auto auto auto";
    grid-column-gap: 13px;
}

.feature_card {
    color: #fff;
    margin: 0 20px;
}

.feature_card img {
    padding: 145px 0 27px 0;
}

.feature_name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 34px;
}

.feature_text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
}

.main_news {
    display: grid;
    grid-template-areas: "auto auto"
                         "auto auto"
}

.news_block {
    margin: 0 auto;
}

.date {
    font-size: 13px;
    padding-bottom: 26px;
}

.news_caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.news_text {
    font-size: 15px;
    text-align: justify;
    padding-top: 40px;
    font-weight: 100;
}


.news_block img {
    display: block;
    max-width: 100%;
    height: auto;
}

.dark {
    background: #222222;
    color: #fff;
    padding: 83px 117px 112px 215px;
}

.light {
    background: #f3f3f3;
    color: #222222;
    padding: 100px 250px 120px 82px;
}



.main_blog {
    background: #fff;
    color: #222222;
    text-align: center;
}

.main_blog .letter {
    color: #e2e2e2;
    padding-top: 50px;
}

.main_blog .caption {
    margin-top: -175px;
}

.about {
    font-size: 30px;
    padding-top: 110px;
    padding-bottom: 80px;
}

.blog_cards {
    text-align: center;
    display: grid;
    grid-template-areas: "auto auto auto auto";
    grid-column-gap: 13px;
    padding-bottom: 112px;
}

.blog_name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 55px;
    margin-bottom: 34px;
    color: #11749e;
}

.blog_card img {
    max-width: 95%;
}


.main_actions {
    background: #11749e;
    color: #fff;
    padding: 112px 0 150px 0;
    margin: 0 auto;
}

.actions {
    display: grid;
    grid-template-columns: auto auto;
}

.action {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 30px;
}

.action_text {
    font-size: 15px;
    font-weight: 100;
}

.action img {
    margin: 20px 30px 0 0;
}

.main_phone {
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
}

.phone_elements {
    display: flex;
    flex-direction: row;
}

.phone_element {
    padding-left: 100px;
}

.phone_caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-top: 240px;
}

.phone_text {
    font-weight: 100;
    padding: 40px 50px 70px 0;
    margin-right: 100px;
}

.advantage {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 0 0 25px;
}

.line {
    background: #11749e;
    height: 40px;
    margin-bottom: 24px;
}

.short {
    width: 370px;
}

.medium {
    width: 400px;
}

.long {
    width: 430px;
}

.iphone {
    padding: 140px 200px 0 0;
}

.iphone img {
    max-width: 150%;
}

.main_team {
    text-align: center;
    background: #fff; 
    color: #222222;
}

.main_team .letter {
    color: #e2e2e2;
    padding-top: 70px;
}

.main_team .caption {
    margin-top: -175px;
}

.team_cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.team_photo img {
    max-width: 100%;
}

.team_badge {
    font-family: 'Montserrat', sans-serif;
    margin-top: -40px;
    background: white;
    padding: 15px;
    width: 215px;
    height: 80px;
    position: relative;
    left: 20px;
}

.team_name {
    font-size: 20px;
    color: #11749e;
}

.team_position {
    font-size: 15px;
}

.main_contacts {
    text-align: center;
    background: url(../img/bg3.jpg) no-repeat;
    background-size: cover;
    color: #fff;    
    padding-top: 90px;
}

.main_contacts .letter {
    color: #5a5a5a;
}

.main_contacts .caption {
    margin-top: -170px;
}

.form_inputs {
    color: #fff;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
}

.form_inputs input {
    background: transparent;
    width: 27%;
    height: 50px;
    padding-left: 20px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
}

.form_inputs input:not(:first-child) {
    margin-left: 25px;
}

.message {
    width: 94%;
    height: 150px;
    background: transparent;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #fff;
    margin-top: 40px;
    border: 1px solid #fff;
}

.button_submit {
    width: 230px;
    height: 65px;
    background: #11749e;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-top: 47px;
    transition: all 0.3s;
}

.button_submit:hover {
    background: #fff;
    color: #11749e;
}

.main_map {
    margin-top: 100px;
}

.footer {
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 55px 0 55px 200px;
    background: #222222;
}










@media screen and (min-width: 1500px) {
    .main_news {
        grid-template-columns: "auto auto auto auto";
    }

    .dark, .light {
        padding: 150px;
    }

    .news_block img {
        min-width: 100%;
    }

    .message {
        width: 1200px;
    }

    .form_inputs input {
        width: 370px;
    }
}


@media screen and (max-width: 1300px) {
    .header_logo {
        margin-left: 100px;
    }

    .nav {
        margin-left: 10%;
    }

    .news_block {
        margin: 0 auto;
    }

    .dark, .light {
        padding: 50px 100px;
    }
    .team_cards {
        grid-template-columns: auto auto;
    }

    .team_badge {
        left: 145px;
    }

    .form_inputs input {
        width: 28%;
    }

    .message {
        width: 93%;

            
        

}

@media screen and (max-width: 1100px) {
    .feature_cards {
        grid-template-areas: "auto auto"
                             "auto auto" ;
    }

    .main_news {
        grid-template-areas: "auto"
                             "auto"
                             "auto"
                             "auto";
    }

    .news_block {
        margin: 0 15%;
    }

    .blog_cards {
        grid-template-areas: "auto auto" 
                            "auto auto";
    }

    .blog_card {
        padding-bottom: 50px;
    }

    .actions {
        grid-template-columns: auto;
    }

    .action {
        padding: 0 100px 50px 100px;
    }

    .main_actions {
        padding: 112px 0 100px 0;
    }

    .team_badge {
        left: 90px;
    }
            
}

@media screen and (max-width: 1020px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin-top: -20px;
        display: block;
        color: #fff;
        font-size: 20px;
    }

    .nav a {
        padding: 10px;
    }

    .nav a:hover {
        background: #11749e;
        border-radius: 5px;
        border-bottom: none;
    }

    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -120px; 
    }

    header .topnav.responsive {
        height: 340px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -120px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .main_welcome h1 {
        font-size: 100px;
    }

    .main_welcome .blue {
        font-size: 15px;

    }
    .letter {
        font-size: 150px;
    }

    .caption {
        font-size: 20px;
    }

    .main_features .caption {
        margin-top: -110px;
    }

    .main_blog .caption {
        margin-top: -105px;
    }

    .phone_elements {
        flex-direction: column-reverse;
    }

    .phone_caption {
        padding-top: 10px;
    }

    .iphone {
        padding: 100px;
        text-align: center;
    }

    .iphone img {
        max-width: 80%;
    }

    .main_team .caption {
        margin-top: -100px;
    }

    .team_badge {
        left: 65px;
    }

    .main_contacts .caption {
        margin-top: -100px;
    }

    .form_inputs input {
        width: 93%;
        margin-top: 40px;
    }

    .form_inputs input:not(:first-child) {
        margin-left: 0;
    }

}

@media screen and (max-width: 830px) {
    .team_badge {
        left: 45px;
    }
}

@media screen and (max-width: 620px) {
    .main_welcome h1 {
        font-size: 50px;
        letter-spacing: 0px;
    }

    .main_welcome .blue {
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

    .header_logo {
        margin-left: 70px;
    }

    .feature_cards {
        grid-template-areas: "auto"
                             "auto"
                             "auto"
                             "auto" ;
    }

    .news_block {
        margin: 0 auto;
    }

    .blog_cards {
        grid-template-areas: "auto"
                            "auto"
                            "auto"
                            "auto";
    }

    .feature_text {
        padding-left: 40px;
        padding-right: 40px;
    }

    .action {
        padding: 0 20px 50px 20px;
    }

    .main_phone .wrapper {
        width: 100%;
    }

    .short, .medium, .long {
        width: 310px;
    }

    .phone_text {
        font-weight: 100;
        padding: 50px 50px 50px 0;
        margin-right: 0;
    }

    .team_cards {
        grid-template-columns: auto;
    }

    .team_badge {
        left: 130px;
    }

    .footer {
        padding: 55px 0 55px 100px;
    }
    

}

@media screen and (max-width: 420px) {
    .news_caption {
        font-size: 18px;
    }

    .action img {
        margin: 100px 30px 0 0;
    }

    .main_phone .wrapper {
        margin-left: -50px;
    }

    .iphone {
        padding: 50px;
        margin-left: 50px;
    }

    .team_badge {
        left: 30px;
    }

    .footer {
        padding: 55px 0 55px 30px;
    }

    .dark {
        padding: 25px;
    }
    
    .light {
        padding: 25px;
    }

    .main_features .wrapper {
        width: 100%;
    }

    .main_blog .wrapper {
        width: 100%;
    }

    .feature_card {
        margin: 0 10px;
    }

}